.header {
    width: 100%;
    top: 0;
    left:0;
    border: solid 1px #004d40;
    height: 15%;
    
}
.header_navigation {
    display:flex;
    align-items: center;
}
.header_items ul {
    list-style: none;
    display:flex;
    


}
.header_items li {
    padding: 0 1rem;
}
.space {
    flex:3;
}
span {
    color: grey;
}
.logo {
    height: 10vmin;

}

.icons a{
    color:black;
}

a:hover { 
    color: #004d40 ;
}
.icons:hover {
    color: #004d40 ;
}

.default {
    color: #004d40;  
}