.header {
    width: 100%;
    top: 0;
    left:0;
    border: solid 1px black;
    height: 15%;
    
}
.header_navigation {
    display:flex;
    align-items: center;
}
.header_items ul {
    list-style: none;
    display:flex;
    


}
.header_items li {
    padding: 0 1rem;
}
.space {
    flex:3;
}
span {
    color: grey;
}
.logo {
    height: 10vmin;

}
.icons:hover {
    background-color:rgba(218, 230, 222, 0.774);
}
.icons{
    color: black;
}
a {
    color: black;
}